*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/*traductor*/
.skiptranslate > iframe {
  display: none;
}

body{
  top: 0 !important;
}

.goog-te-gadget-simple > img {
  display: none;
}

#google_translate_element{
  width: 50px;
}

.VIpgJd-ZVi9od-aZ2wEe{
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCOVIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc{
  display: none;
} 

/*Animacion*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

  }

  .hidden{
    overflow: hidden;
  }

.editar_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    gap: 20px;
   
   border: #000 1px solid;
    color: #000000;
    width: 55%;
    height: 730px;
    border-radius: 20px;
    align-items: center;
}

.editar_img{
    max-width: 200px;
    max-height: 150px;
}

.tittle{
    margin: auto 100px;
    text-align: center;
}

.contenedor_logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 30px ;
}

.retroceder{
    width: 100px;
    height: 100px;
    padding: 20px;
    background-color: #000;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.envio{

  position: relative;
  top: 15px;
}

input[type="text"],
input[type="number"]{
  border: 0;
    background-color: #e7e7e7;
    padding: 15px;
    border-radius: 25px; 
    outline: none;
    resize: none;
    text-align: center;
}

select {
  font-size: 16px;
  border: none;
  border-radius: 15px;
  background-color: #e7e7e7;
}


select:focus {
  outline: none;
}

option {
  font-size: 16px;
  width: 100px;
  height: 50px;
}

input[type="submit"]{
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  width: 120px;
  height: 50px;
  font-size: 16px;
  border: #000;
}

input[type="submit"]:hover{
  background-color: #ffffff;
  border: #000000 2px solid;
  color: #000000;
}