
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

.skiptranslate > iframe {
    display: none;
}

body{
    top: 0 !important;
}

.goog-te-gadget-simple > img {
    display: none;
}

#google_translate_element{
    width: 50px;
}

.VIpgJd-ZVi9od-aZ2wEe{
    display: none;
  }
  
  .VIpgJd-ZVi9od-aZ2wEe-OiiCOVIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc{
    display: none;
  } 
/*Animacion*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000;
    border-color: #000 transparent #000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .centrado{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

  .hidden{
    overflow: hidden;
  }

/*nav*/

a{
    color: inherit;
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

.contenedor_logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 15px ;
}

.contenedor{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;

}

.contenedor li{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bolder;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    z-index: 9;
    font-weight: 400;
}

  .contenedor li:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    top: 20px;
    background: #000;
    height: 2px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .contenedor li:hover:before, .contenedor li:focus:before, .contenedor li:active:before {
    left: 0;
    right: 0;
  }

.contenedor li img{
    height: 25px;
    width: 25px;
   
}

.imagen::before{
display: none;
}

.name{
    border: solid black;
    padding: 10px;
    border-radius: 10px;
}

@keyframes rebota{
    0%{
        transform: translateY(5px);
    }

    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(5px);
    }
    75%{
        transform: translateY(0px);
    }

    100%{
        transform: translateY(5px);
    }
}

.etiqueta:hover .efecto{
animation: rebota 0.9s;
}

.etiqueta{
 flex-direction: row !important; 
 gap: 6px;
}

.efecto{
    transition: ease-in 200ms;
}

.etiqueta::before{
    display: none;
}

.contenedor_ul{
    display: flex;
    gap: 50px;
    position: relative;
    justify-content: center;
    align-items: baseline;
}

.etiqueta{
    display: flex;
    flex-direction: column ;
    position: relative;
    cursor: pointer;
}

.dropDown{
    position: absolute;
    background-color: #282828;
    border-radius: 12px;
    padding: 1rem;
    color: white;
    top: 25px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
    z-index: 99;
    
}

.etiqueta:has(.dropDown:hover) img {
    animation: none;
}

.li_submenu::before {
    display: none;
}
.open{
    display: flex;
}

/*ADMIN*/

.form_into{
    border: #000 1px solid;
    border-radius: 10px;
    width: 50%; 
    margin: 0 auto;
}

.form_admin form{
    
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: #ffff;
    width: 500px;
    gap: 10px;
}

.tittle_admin{
margin-top: 30px;
}


.img_selected{
    max-width: 300px;
    max-height: 350px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    display: flex;
}


.form_admin form input[type="file"]{
    color: #000;
}

.form_admin form input[type="text"],
input[type="number"]{
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 25px; 
    box-sizing: border-box;
    background-color: #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    resize: none;
}


.form_admin form input[type="submit"] {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 120px;
    height: 50px;
    font-size: 16px;
    border: #000;
    left: 65px;
}

.form_admin form input[type="submit"]:hover{
    background-color: #ffffff;
  border: #000000 2px solid;
  color: #000000;
}

.wrap{
    width: 300px;
}

.saludo{
    height: 100px;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
}


.tipo{
    color: #000;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

select {
    font-size: 16px;
    border: none;
    border-radius: 15px;
    background-color: #e7e7e7;
    position: relative;
    left: 118px;
  }
  
  select:hover {
    box-shadow: 0 4px 6px #0000001a;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 4px 8px #00000033;
  }

.botones_admin{
    margin: 30px auto;
    text-align: center;
}

.envio{
    padding: 30px;
}

.eliminar{

        width: 80px;
        position: relative;
        align-items: center;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        
        transition: all 600ms ease;
        padding: 10px;
}

.eliminar:hover{
    color: #ffff;
    background-color: #6F1D13;
    z-index: 5;
    cursor: pointer;
}



.editar{

    width: 80px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
    transition: all 600ms ease;
    padding: 10px;
}

.editar:hover{
color: #ffff;
background-color: #165D8E;
z-index: 5;
cursor: pointer;
}
  

.ver{

    width: 80px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    
    transition: all 600ms ease;
    padding: 10px;
}

.ver:hover{
color: #ffff;
background-color: #1BB0A3;
z-index: 5;
cursor: pointer;
}


.crud{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 5px;
    gap: 5px;
}
/*Inicio*/

.home{
    background-image: url(../img/fondo.jpg);
    background-repeat: repeat;
    background-size: cover;
    height: 72vh;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    z-index: 1;
}

.home::after{
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
}


.home h1{
    font-size: 120px;
    font-weight: 600;
    color: #ffff;
    z-index: 1;
    position: relative;
}

.home h3{
    color: #ffff;
    z-index: 1;
    position: relative;
    font-weight: 500;
}


.home a{
    z-index: 5;
}

.down{
    position: relative;
    z-index: 999;
    cursor: pointer;
    margin-top: 20px;
    height: 50px;
    width: 50px;
    background-size: cover;
    transition: ease-in 300ms;
}

.down:hover{
    transform: translateY(5px);
}


/*Ventas*/

.products{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    margin: 50px auto;
    padding: 20px;
    border: solid black;
    border-radius: 20px;
    width: 500px;
    color: #ffff;
    background-color: #000;
    transition: ease-in 400ms;
}

/*MODELOS*/

/*GALERIA*/

.container_img{
    display: flex;
    width: 800px;
    height: 630px;
    margin: 100px auto;
    border-radius: 5px;
}


.redireccion{

background-size: cover;
width: 0px;
flex-grow: 1;
opacity: .8;
transition: .5s ease;
filter: brightness(50%);
background-image: url(../img/1.jpg);
background-position: center;
}

.separador{
    margin: auto;
    position: relative;
    text-align: center;

}

.h3{
    margin: auto;
    position: relative;
    text-align: center;
    font-weight: 200;
}


.redireccion:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
    filter: brightness(100%);
}


.redireccion:nth-of-type(2){
    background-image: url(../img/2.jpg);
}

.redireccion:nth-of-type(3){
    background-image: url(../img/3.jpg);
}

.redireccion:nth-of-type(4){
    background-image: url(../img/4.jpg);
}

.redireccion:nth-of-type(5){
    background-image: url(../img/5.jpg);
}

.redireccion:nth-of-type(6){
    background-image: url(../img/6.jpg);
}

.redireccion:nth-of-type(7){
    background-image: url(../img/7.jpg);
}

.redireccion:nth-of-type(8){
    background-image: url(../img/8.jpg);
}

.redireccion:nth-of-type(9){
    background-image: url(../img/9.jpg);
}

.redireccion:nth-of-type(10){
    background-image: url(../img/10.jpg);
}


/*Cartas*/

.container-card{
	width: 100%;
	display: flex;
	margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #000000;
}
.card{
	width: 320px;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
    display: flex;
    justify-content: center;
    
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.8);
	transform: translateY(-3%);
}
.card img{
	
	height: 210px;
    margin-top: 20px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #000000;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #696868;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 4px;
	transition: all 600ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #000000;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}


/*Compra seleccionada*/

.cont{
    display: flex;
    
}

.retroceder{
width: 100px;
height: 100px;
padding: 20px;
background-color: #000;
border-radius: 100%;
position: absolute;
top: 10px;
left: 10px;

}

.item{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item img{
 max-width: 50%;
 max-height: 60%;
 padding: 40px;
 border: #000 solid 2px;
 border-radius: 30px;

 display: flex;

}

.datos{
    width: 50%;
    height: 80vh;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    width: 150px;
    align-items: center;
    border-radius: 10px;
    margin-top: 50px;
    transition: all 600ms ease;
    padding: 10px;
    
}

.button img{
    color: #ffff;
    width: 15px;
    height: 15px;
}

.button img:hover{
    color: #fff;
    
}

.button:hover{
	background: #000;
	color: #fff;
    cursor: pointer;
    filter: invert;
}

.form{
    position: relative;
    gap: 20px;
    display: block;
    margin: 200px;
}


/*carrito*/




.precio_final{
    position: relative;
    font-size: 15px;
    margin: auto;
    display: flex;
    justify-content: end;
    width: 74%;
    

}


.car__info{
    
    display: flex;
    position: relative; 
    width: 75%;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid black;
    margin: 20px auto;
    border-radius: 20px;
    padding: 40px 0px;

}

.botones{
    padding: 10px;
    border-radius: 20px;
    transition: ease-in 300ms;
}

.botones:hover{
    color: #ffff;
    background-color: #000;
    cursor: pointer;
}

.car__info img{
    max-width: 200px;
    max-height: 250px;
}

.car_tittle{
    margin: 70px auto  50px auto;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 50px;
  
    width: 74%;
}

.car__info__text{
    display: flex;
    position: relative; 
    justify-content: center;
    gap: 20px;
    align-items: center;
}

/*Cerrar Sesion*/

.bye{
    border-radius: 20px;
    margin: 10px 10px;
    font-size: 20px;
    font-weight: bolder;
    height: 60px;
   
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    top: 20px;
    width: 200px;
    z-index: 1;
    transition: ease-in 300ms;
}

.bye:hover{
 background: #ffff;
}


/* Info */

.content h1{
    padding: 10px;
    position: relative;
    
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto;
    padding-top: 40px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
}

.content p{
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 550px;
}

.content img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    width: 400px;
    height: 400px;
}


/* Slider */

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
    position: relative;
    bottom: 190px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: automatico 30s infinite alternate linear;
}

.slider li{
    list-style: none;
    width: 100%;
}

.slider img{
    width: 100%;
    height: 250px;
}

@media(min-width: 768px){
    .slider img{
        height: 550px;
    }
}

@keyframes automatico {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

/* Perfil */


/* Footer */

footer{
    width: 100%;
    position: relative;
    bottom: -20px;
    left: 0;
    padding: 1.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 70px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #fff;
    background-image: url(../img/icons8-whatsapp-48.png);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #fffefe;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url(../img/icons8-instagram-48.png);

}

.social-icon:nth-of-type(3){
    background-image: url(../img/icons8-facebook-nuevo-48.png);
}

.social-icon:nth-of-type(4){
    background-image: url(../img/icons8-gmail-48.png);
}

.footer-menu-container{
    list-style-type: none;
    color: white;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: white;
    opacity: 0.3;
    text-align: center;
}

.pagoir{
    padding: 20px;
    width: 145px;
    background-color: #000;
    color: #ffff;
    border-radius: 20px;
    margin: auto;
    font-size: 20px;
    display: flex;
    font-weight: bold;
}

.box{
    width: 320px;
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
}

.box:hover{
    transform: scale(1.06);
    transition: 0.5s all ease-in-out;
}


.modelos{
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
margin: 100px;
}

.box:nth-of-type(1){
    background-image: url(../img/1.jpg);
}

.box:nth-of-type(2){
    background-image: url(../img/2.jpg);
}

.box:nth-of-type(3){
    background-image: url(../img/3.jpg);
}